<%# <h1>New Dohnut</h1>

<%= render 'form', dohnut: @dohnut %>

<%# <%= link_to 'Back', dohnuts_path %> 

<h1>New Dohnut!</h1>
<%= form_for @dohnut do |f| %>

<p>
<%= f.label :flavor %>:
<%= f.text_field :flavor, :placeholder => "e.g.chocolate" %>
</p>

<p>
<%= f.label :size %>:
<%= f.text_field :size, :placeholder => "e.g.GIGANTIC!" %>
</p>

<p>
<%= f.label :sprinkles %>:
<%= f.label "true" %><%= f.radio_button :sprinkles, "true" %>
<%= f.label "false" %><%= f.radio_button :sprinkles, "false" %>
</p>

<p>
<%= f.label :ryan_name %>:
<%= f.text_field :ryan_name, list: "ryans_autocomplete", :placeholder => "Select/create a Ryan" %>
<datalist id='ryans_autocomplete'>
<% Ryan.all.each do |ryan| %>
<option value="<%= ryan.name %>">
<% end %>
</datalist>
</p>

<%= f.submit %>
<% end %>